<div class="card">
<div class="card-header card-header-danger">
    <h4 class="card-title">Nuevo Documento</h4>
</div>
<div class="card-body">
    <form (submit)="AddDocumento(docto)">

        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-select
                  placeholder="Selecciona el tipo de documento"
                  [formControl]="disableSelect">
                    <mat-option value="Certificado">Certificado de {{data.grado.tipo}}</mat-option>
                    <mat-option value="Titulo">Título de {{data.grado.tipo}}</mat-option>
                    <mat-option value="false">Cédula</mat-option>
                    <mat-option value="Diploma">Diploma</mat-option>
                    <mat-option value="Constancia">Constancia</mat-option>
                    <mat-option value="Carta">Carta de Recomendación</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <mat-form-field  class="example-form-field">
              <input [disabled]="disableSelect.value"
                matInput type="number" placeholder="Número de Cédula">
              <!--<button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
                </button>-->
            </mat-form-field>





        </div>
        <div class="row">
            <div class="col-md-6">
                <app-upload (up)="uploader()"></app-upload>
            </div>

        </div>

        <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Agregar</button>
        <div class="clearfix"></div>
    </form>
</div>
</div>
