<div class="main-content">
  <div class="container-fluid">

    <div class="pre">
            <h2>Binding test:</h2>
            {{ usuarioActual }}
    </div>
      <div class="row">
        <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Mis datos</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Matricula" type="text" name="matricula" id="matricula" [(ngModel)]="user.matricula" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-7">
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Correo electrónico" type="email" name="correo" id="correo" [(ngModel)]="user.correo" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                    <!--<input matInput placeholder={{nombre}} type="text"  id="nombre" [(ngModel)]="user.nombre">-->
                                    <input matInput placeholder="Nombre" type="text" name="nombreNA" id="nombreNA" [(ngModel)]="user.nombreNA" disabled>
                                </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Licenciatura" type="text" name="Licenciatura" id="Licenciatura"  disabled>
                                </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">{{nombre}}</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>


      </div>

  </div>
</div>
