<div class="main-content">
    <div class="container-fluid">
      <div class="col-md-12">
          <h1 mat-dialog-title>Nuevo Grado</h1>

        <div class="row">
            <div class="col-md-4">
              <mat-form-field >
                <!--[(ngModel)]="academico.tipo"-->
                <mat-select placeholder="Selecciona grado" [(ngModel)]="data.tipo">
                  <mat-option value="Licenciatura">Licenciatura</mat-option>
                  <mat-option value="Maestría">Maestría</mat-option>
                  <mat-option value="Doctorado">Doctorado</mat-option>
                  <mat-option value="Especialidad">Especialidad</mat-option>
                  <mat-option value="Diplomado">Diplomado</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field class="example-full-width" >
                  <!--[(ngModel)]="academico.nombre"-->
                  <input type="text" placeholder="Nombre de " aria-label="Assignee" matInput [matAutocomplete]="auto"
                  [(ngModel)]="data.nombre">
                  <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let carrera of carreras" [value]="carrera.nombre">
                      {{carrera.nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-form-field">
                  <!--[(ngModel)]="academico.escuela"-->
                  <input matInput type="text" placeholder="Institución" [(ngModel)]="data.escuela">
                  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">

              <mat-form-field class="example-form-field">
                <!--[(ngModel)]="academico.periodoIni"-->
                <input matInput type="number" placeholder="Periodo Inicial (año)" [(ngModel)]="data.periodoIni">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
          </div>
          <div class="col-md-6">

            <mat-form-field class="example-form-field">
              <!--[(ngModel)]="academico.periodoFin"-->
              <input matInput type="number" placeholder="Periodo Final (año)" [(ngModel)]="data.periodoFin">
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        </div>
        </div>

        <div class="row">
            <div class="col-md-3">
  <br>
  <!--[(ngModel)]="academico.titulo"-->
            <mat-checkbox [formControl]="disableSelect" [(ngModel)]="data.titulo">Estás titulado?</mat-checkbox>
          </div>
          <div class="col-md-3">
              <mat-form-field  class="example-form-field">
                <!--[(ngModel)]="academico.fechaTitulo"-->
                  <input [disabled]="!disableSelect.value" matInput type="number" placeholder="Año de titulación" [(ngModel)]="data.fechaTitulo">
                  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
          </div>
        </div>

      </div>
    </div>
  </div>



  <br><br><br>



  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>


  <!--[mat-dialog-close]="data.animal"-->
    <button (click)="SaveGradoAcademico(data)" mat-button [mat-dialog-close]="value" cdkFocusInitial>Ok</button>
  </div>
