<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Formación Académica</h4>
                      <p class="card-category">Completa tu perfil académico</p>
                  </div>
                  <div class="card-body">
                      <form>
                        <app-academico-cat></app-academico-cat>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
